


@media screen {
	html,
	body {
		
		margin: .75em 1%;
		font-family: Arial, Helvetica, sans-serif;
	
	}
	
	body>header {
		font-size: 3em;
		font-weight: bold;
		color: blue;
		margin-bottom: 1em;
		/*50px/3em;*/
	}
	/* titres du bloc main */
	#formation>header,
	#expe>header {
		font-size: 2em;
		/* 32 px */
		margin: 0.625em0px;
		/* 20px/32px */
		padding: 0.7%;
		/*5px/706px */
		font-weight: bold;
		color: white;
		background-color: blue;
	}
	/* titre et bloc main à gauche */
	/* DEPLACE DANS LE fichier cvpc.cssbody>header, main{display: block;float:left;width:73% ; /* 750px/1026px */
	/*}*/
	/* diplômes */
	#formation table th {
		text-align: left;
		font-size: 1.2em;
	}
	/* espaces entre 2 formations */
	#formation table tr:nth-child(2n) td {
		padding-bottom: 1em;
		/* 16px */
	}
	
	#civil>img {
		display: block;
		width: 95%;
		margin: auto;
		border: 3px solid white;
		border-radius: 5px;
	}
	/* adresse de la personne */
	#civil p {
		margin: 0.3em 0px;
		/* 5px/16px 0px; */
	}
	
	}
	#expe ul {
		margin-left: 13%;
		/*100px/750px;*/
	}
	/* DIVERS ----------------------------------------- */
	/* titres et enum en divers */
	#divers>h2 {
		background-color: white;
		color: blue;
		padding: 2%;
		/*5px/234px */
	}
	#divers ul {
		list-style: none;
		padding-left: 0px;
	}
}
