


@media screen {
	html,
	body {
		/*width:1050px; /* base de test et de mesures */
		margin: .75em 1%;
		/* 12px/16px 12px/1050px*/
		font-family: Arial, Helvetica, sans-serif;
		/* font-size : 16px;/* pour test ==> défini dans chaque media query */
	}
	body{
		background-color: grey;
	}
	/* titre */
	body>header {
		font-size: 3em;
		font-weight: bold;
		color: blue;
		margin-bottom: 1em;
		/*50px/3em;*/
	}
	/* titres du bloc main */
	#formation>header,
	#expe>header {
		font-size: 2em;
		/* 32 px */
		margin: 0.625em0px;
		/* 20px/32px */
		padding: 0.7%;
		/*5px/706px */
		font-weight: bold;
		color: white;
		background-color: blue;
	}
	.im{
        width:400px;
        height:250px ;
    }
	#formation table th {
		text-align: left;
		font-size: 1.2em;
	}
	
	#formation table tr:nth-child(2n) td {
		padding-bottom: 1em;
		
	}
	
	#civil {
		display: block;
		width: 40%;
		margin: auto;
		border: 3px solid white;
		border-radius: 50px;
	}
	
	#civil p {
		margin: 0.3em 0px;
		
	#divers>h2 {
		background-color: white;
		color: blue;
		padding: 2%;
		/*5px/234px */
	}
	#divers ul {
		list-style: none;
		padding-left: 0px;
	}
}
a{
	text-align:center;
	font-size: 30px;
}
