h1
{
    color: green;
    text-align:center

}
p{
    
    color:black;
    text-align:center


}
.m :hover{
    
    color:orange;
    font-family: fantasy;

}
.e :hover{
    
    color:orange;
    font-family: fantasy;

}
.ma :hover{
    
    color:orange;
    font-family: fantasy;

}
body{
    background-color: aquamarine;
}